
@import url(__elem/page__elem.css);
.page {
    padding-top: 24px;
    width: 80%;
    min-width: 250px;
    max-width: 997px;
    font-family: "Gilroy", Arial, sans-serif;
    margin: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}