.header__elem_points {
    left: 8.68%;
    right: 86.62%;
    top: 27.8%;
    bottom: 86.74%;
    position: absolute;
    z-index: -1;
    background-image: url(../../../images/Group.png);
    background-repeat: no-repeat;
}