.header__elem_red {
    position: absolute;
    height: 45px;
    width: 68px;
    left: 338.9px;
    top: 0;
    background-repeat: no-repeat;
    z-index: 0;
    animation: header__elem_red 6s infinite;
    background-image: url(../../../images/1.svg);

}

@keyframes header__elem_red {
  0% {
    left: 338.9px;
    top: 0;
  }
  50% {
    right: 430px;
    top: 0;
 }

   100% {
    left: 338.9px;
    top: 0;
  }
}
