.clients__elem_beard {
    z-index: -1;
    position: absolute;
    width: 81.98px;
    height: 81.98px;
    left: 894.36px;
    top: 1003.47px;
    animation: clients__elem_beard 10s infinite;
    background-image: url(../../../images/beard.png);
    background-repeat: no-repeat;

}


@keyframes clients__elem_beard {
    0% {
        left: 894.36px;
        top: 1003.47px;
    }
    50% {
        left: 884.36px;
        top: 1013.47px;
    }

    100% {
        left: 894.36px;
        top: 1003.47px;
    }
}