

.clients__elem_boy {
    z-index: -1;
    position: absolute;
    width: 107px;
    height: 146px;
    left: 133.32px;
    top: 808.03px;
    animation: clients__elem_boy 5s 1 ease;
    border-radius: 76px;
    background-image: url(../../../images/boy3.png);
    background-repeat: no-repeat;
}


@keyframes clients__elem_boy {
    0% {
        left: 149.32px;
        top: 808.03px;
    }
    50% {
        left: 120.32px;
        top: 808.03px;
    }

    100% {
        left: 149.32px;
        top: 808.03px;
    }
}