.header__link_active {
    border: 1.03958px solid #1943EF;
    box-sizing: border-box;
    border-radius: 33.9597px;
    width: 118px;
    height: 32px;
    margin-bottom: -10px;
    color: #1943EF;
    background:none;
}

@media (max-width: 500px) {
    .header__link_active {
        font-size: 25px;
        margin-bottom: 0px;
        width: 218px;
        margin-top: 20px;

    }
}