.header__link {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    text-decoration: none;
    margin-right: 27px;
    color: #73738D;
}

@media (max-width: 500px) {
    .header__link {
        font-size: 25px;
        margin-top: 25px;

    }
}


