.header__link {
    font-family: Gilroy;
    font-weight: 500;
    font-size: 11.0889px;
    line-height: 13px;
    text-decoration: none;
    margin-right: 16px;
    color: #73738D;
    margin-left: 7px;
    cursor: pointer;
}

.header__link:hover {
    opacity: 0.5;
    transition: 0.5s;
}

@media (max-width: 500px) {
    .header__link {
        font-size: 25px;
        margin-top: 25px;

    }
}


