.relationship__header {
    font-weight: bold;
    font-size: 40.1972px;
    line-height: 49px;

    color: #222222;
}

@media (max-width: 500px) {
    .relationship__header{
        text-align: center;
        font-size: 30px;
        line-height: 30px;

    }
}