@import url(__box/footer__box.css);
@import url(__link/footer__link.css);
@import url(__links/footer__links.css);
@import url(__copyright/footer__copyright.css);
@import url(__list-element/footer__list-element.css);
@import url(__header/footer__header.css);
@import url(__copyright-header/footer__copyright-header.css);
@import url(__box/footer__box_circ.css);
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    max-width: 96%;
}