.relationship__description {
    font-weight: 500;
    font-size: 14.5542px;
    line-height: 22px;
    color: #73738D;
    margin-bottom: 20px;
}

@media (max-width: 500px) {
    .relationship__description{
        text-align: center;

    }
}